{
  "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
  "database.hostname": "${POSTGRES_HOST}",
  "database.port": "5432",
  "database.user": "${POSTGRES_USER}",
  "database.password": "${POSTGRES_PASSWORD}",
  "database.dbname": "${POSTGRES_DB}",
  "topic.prefix": "${ENV_NAME}.users",
  "schema.include.list": "users",
  "table.include.list": "users.outbox_messages",
  "plugin.name": "pgoutput",
  "tombstones.on.delete": "false",
  "slot.name": "debezium_users_slot"
}